<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Cactus Life🌵</title>
    <!-- Иконка сайта(пока не работает)... -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static/img/cactus_icon.png" type="image/png">
    <style>
    body {
    background: #5da130 url(static/img/cactus_fon.jpg); /* Цвет фона и путь к файлу */
    color: #000; /* Цвет текста */
    }
   .photo img {
    border: 2px solid #8b8e4b; /* Параметры рамки */
   }
   .photo p {
    margin: 0; /* Отступы */
   }
    </style>
</head>
<body>
<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Cactus Life🌵</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="indexing">Новости<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="bot">Кактус Манси<span class="sr-only">(current)</span></a>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
              Музыка <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu">
              <h6 class="dropdown-header">Жанр</h6>
              <a class="dropdown-item" href="#">Инструментальная</a>
              <a class="dropdown-item" href="#">Классическая</a>
              <a class="dropdown-item" href="#">Электронная</a>
              <a class="dropdown-item" href="#">Латинская</a>
              <a class="dropdown-item" href="#">Хип-хоп</a>
              <a class="dropdown-item" href="#">Кантри</a>
              <a class="dropdown-item" href="#">Метал</a>
              <a class="dropdown-item" href="#">Регги</a>
              <a class="dropdown-item" href="#">Блюз</a>
              <a class="dropdown-item" href="#">Фолк</a>
              <a class="dropdown-item" href="#">Джаз</a>
              <a class="dropdown-item" href="#">Поп</a>
              <a class="dropdown-item" href="#">Рок</a>
              <a class="dropdown-item" href="#">Ска</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Рандомная музычка</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Как жизнь молодецкая?</a>
      </li>

    </ul>


      <h1>♥</h1>
      <div class="btn-group dropleft">
          <button type="button" class="btn alert-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon"><i class="fas fa-cog fa-spin"></i></span>
          </button>
          <div class="dropdown-menu navDropdown" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="account">Моя страница</a>
              <a class="dropdown-item" href="exit">Выход</a>
          </div>
      </div>
      <h1>♥</h1>


  </div>
</nav>
<h1 align="center">💚🌵💚</h1>


</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>