{% extends "base1.html" %}

{% block content %}
<div class="jumbotron hoverable p-4" style="background-color: #5ad65a;">
    <div class="container">
        <h1 class="display-4" align="center">Музончик</h1>
    </div>
</div>
<div class="alert alert-success" role="alert">
    {% for mus in music %}
        <table>
            <tr>
                <td>
                    <div class="photo">
                        <img src="{{ mus[2] }}" class="rounded-circle" alt="Cinque Terre" width="80" height="80">
                    </div>
                </td>
                <td>
                    <pre><h6 class="ribbon"><strong>   Автор:   </strong>{{ mus[0] }}</h6></pre>
                    <pre><h6 class="ribbon"><strong>   Название:   </strong>{{ mus[1] }}</h6></pre>
                    <pre><h6 class="ribbon"><strong>   Музыка:   </strong><a href="{{ mus[3] }}" target="_blank">Ссылка на музыку</a></h6></pre>
                </td>
            </tr>
        </table>
        <hr size=3px width=500px align="left">
    {% endfor %}
</div>
{% endblock %}