{% extends "base.html" %}

{% block content %}
<div class="jumbotron hoverable p-4" style="background-color: #5ad65a;">
    <div class="container">
        <h1 class="display-4">Приветствуем вас в Cactus Life!</h1>
        <p class="lead">Cactus Life является развлекательным порталом и не несёт особой смысловой нагрузки)</p>
        <p class="lead">Желаем приятного времяпровождения!</p>
    </div>
</div>

<div class="alert alert-danger text-body" role="alert">
    <div class="row">
        <div class="col-md-8">
            <h1 class="h2 page-header" align="center">Новости</h1>
            {% for new in news %}
            <h3 class="h2 page-header" align="center">{{ new[0] }}</h3>
            <p>{{ new[1] }}</p>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4 class="page-header">Ссылочки на сайты с мангой</h4>
            <ul class="list-group">
                <a href="https://readmanga.me/" target="_blank" class="list-group-item list-group-item-success">🌺ReadManga🌺
                    Здесь можно почитать миленькую мангу любого жанра и направленности!</a>
                <a href="https://mangalib.me" class="list-group-item list-group-item-success">🌸MangaLib🌸
                    На этом сайте есть и такая манга, кторорой нет на риде. Но Ридманга лишь часть сети сайтов, ссылки на которые я не дам.
                    Просто мотому что.</a>
                <a href="https://mangahub.ru/" class="list-group-item list-group-item-success">🌼MANGAHUB🌼
                    О, а этот сайтик попал сюда, потому что тут можно прочитать новые тома "Банановой рыбы".
                    Уже этим он достоин быть среди двух вышеперечисленных сайтов.</a>
            </ul>
            <h4 class="page-header">Ссылочки на сайты с анимешками</h4>
            <ul class="list-group">
                <a href="https://animebestnew.org/" class="list-group-item list-group-item-success">🌺Anime Best🌺
                    Это неплохой сайт с аниме. Не могу много сказать об этом сайте, потому что я смотрела аниме на другом, но его сейчас закрыли.
                    Вот, теперь качую.</a>
                <a href="https://yummyanime.club/catalog" class="list-group-item list-group-item-success">🌸Yummy Anime🌸
                    Тоже неплохой сайт. Можно глянуть аниме.</a>
                <a href="https://amedia.online/" class="list-group-item list-group-item-success">🌼Animedia🌼
                    Тут я смотрела всего пару анимешек, но сайт выглядит солидно, поэтому он тут.</a>

            </ul>
            <h4 class="page-header">Ссылочки на сайты с сериалами или мультиками</h4>
            <ul class="list-group">
                <a href="http://fanserials.asia/" class="list-group-item list-group-item-success">🌺FanSerials🌺
                    Здесь можно глянуть сериальчики. Сюда заливается дубляж сериалов от Netflix сразу в день их выхода. Крутейший сайт.</a>
                <a href="https://kadikama.ru/" class="list-group-item list-group-item-success">🌸Кадикама🌸
                    Тут можно глянуть "Аватар: Легенда об Аанге/о Корее", "Гравити Фолз" и другие мультики. Довольно милый сайтик.</a>
                <a href="http://mega-mult.ru/" class="list-group-item list-group-item-success">🌼Mega-Mult🌼
                    Здесь я смотрела "Стар против сил зла". Неплохой сайт.</a>

            </ul>

        </div>
    </div>
</div>
{% endblock %}